<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>${TM_NEW_FILE_BASENAME}</title>
	<link rel="stylesheet" type="text/css" media="all" href="css/libraries.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/template.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/grids.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/content.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/mod.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/mod_skins.css" />
</head>

<body>

<h1>${TM_NEW_FILE_BASENAME}</h1>
<div class="page">
	<div class="head">
	</div>
	<div class="body">
		<div class="leftCol">
		</div>
		<div class="rightCol">
		</div>
		<div class="main">
		</div>
	</div>
	<div class="foot">
	</div>	
</div>
</div>
</body>
</html>
